<%= form_for @comment, :url => {:controller => "comments", :action => "create"}, remote: true do |f| %>
    <div class="form-group">
        <%= f.text_area :content, :class => 'form-control', name: "comment[content]", rows: 3   %>
    </div>
        <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>

 